<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">You are logged in</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <img class="user-img" src="<%= user.profilePic %>" alt="<%= user.fullName %>">
          </div>
          <div class="col-md-9">
            <h2>Welcome</h2>
            <h4><%= user.fullName %></h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#myModal").modal('show');
</script>
