<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Time - Login</title>
	<% include head %>
</head>
<body id="movie-app-login">
	<div class="container-login">
		<div class="titlePanel">
			<h1>Movie Time | Login</h1>
		</div>
		<div class="loginButton">
			<!-- <a href="/auth/facebook"> -->
      <a href="/login">
				<img id="loginBtnImg" src="/images/fbLoginBtn.png" alt="Sign-In with Facebook">
			</a>

			<a href="/auth/twitter">
				<img id="loginBtnImg" src="/images/twLoginBtn.png" alt="Sign-In with Twitter">
			</a>

			<a href="/auth/github">
				<img class="github-login" id="loginBtnImg" src="/images/githubLogin.png" alt="Sign-In with GitHub">
			</a>
		</div>
	</div>
</body>
</html>
