body {
  position: relative;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/movies.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
}

a {
  color: #00B7FF;
}

.navbar-right{
  margin-right: 10px;
}

.container{
  margin-top: 50px;
}

.poster img{
  width: 95%;
  height: 35rem;
  text-align: center;
  margin: 20px 5% 20px;
}

#search-form input{
  margin: 8px 0px;
  padding: 5px;
}

.form-group select{
  min-width: 150px;
}

.single-movie-title, .overview-header{
  font-family: 'Metamorphous', cursive;
}

.overview-header{
  font-size: 20px;
  font-weight: bold;
}

.single-movie-img{
  margin-bottom: 20px;
}

.single-movie-overview{
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 24px;
  font-weight: normal;
}


/* Login Page */
#movie-app-login{
  position: unset;
}

.container-login {
	position:absolute;
	width: 350px;
	height: 283px;
	border:1px solid black;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
  padding: 0;
}

.titlePanel {
	position: relative;
	width: 350px;
	height: 50px;
	background-color: rgb(0,0,0);
}

.titlePanel > h1 {
	position: absolute;
	color: rgb(255,255,255);
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	padding:0;
	top:15px;
	left: 10px;
}

.loginButton {
	position: relative;
	height: 232px;
}

.github-login{
  width: 335px !important;
  height: 60px !important;
  margin-left: 7px;
  margin-top: 5px;
}

#loginBtnImg {
	position: relative;
	top: 10px;
  bottom: 10px;
	width: 348px;
  height: 71px;
}
/******************/

/* Login Sucessfull Modal */
  .user-img{
    width: 100%;
  }
/******************/
